In [28]:
keywords = [
    ["fun", "cosmopolitan", "nightlife", "busy"],
    ["relaxing", "beach", "scenic", "romantic"],
    ["peaceful", "mountains", "quiet", "breathtaking"],
    ["educational", "ancient", "ruins", "unforgettable"],
    ["charming", "coastal", "laid-back", "ocean"],
    ["wild", "exciting", "party", "locals"],
    ["calm", "lake", "beautiful", "tranquil"],
    ["city", "vibe", "action", "hotel"],
    ["spa", "treatments", "rejuvenating", "relaxing"],
    ["romantic", "sunset", "cocktails", "rooftop"],
    ["market", "vibrant", "crafts", "unique"],
    ["gardens", "lush", "scenic", "peaceful"],
    ["kayaking", "river", "fun", "calming"],
    ["special", "staff", "stay", "relaxing"],
    ["exploring", "local", "adventure", "experience"]
]

In [ ]:
import pandas as pd
revs = pd.read_csv("sample_location_activity_reviews.csv")

In [2]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('all-MiniLM-L6-v2')

/Users/cosimaroughton/.pyenv/versions/3.10.6/envs/swipe-sense/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [21]:
revs['rating'].value_counts()

rating
5    555
4     83
3     14
1      9
2      6
Name: count, dtype: int64

In [26]:
revs = revs[revs['rating'] >= 4]

In [30]:
revs

,query,place_id,place_name,place_address,rating,author,publishTime,reviews
0,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Natasha Williams,2025-08-06T19:58:26.853273660Z,"Great vibe, live music, and amazing deals!\nHa..."
1,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Shahnawaz Faiyaz,2025-07-23T20:19:31.875988720Z,Old street record offers a fantastic dining ex...
2,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,N Mendes,2025-06-30T20:36:32.568566035Z,I had a great time here the ambiance is super...
3,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,ABDELLATIF EL GHAZOUANI,2025-07-23T20:03:13.379092229Z,I recently visited OLD STREET RECORD and had ...
4,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Marina Garrido,2025-07-05T08:20:39.322927154Z,Went here last night with my friends and it wa...
...,...,...,...,...,...,...,...,...
633,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,C Pal,2023-08-05T04:13:45.175618Z,"It was like traveling back in time, I'm glad m..."
634,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Ozzie Oz,2024-09-25T03:22:15.858827Z,We took the 1.30pm boat cruise across to the f...
635,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Culinary Palate,2024-01-14T16:57:50.686778Z,Traveling on a steamboat is something not many...
636,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Brad Tynan,2024-05-18T07:20:52.220468Z,Loved it. The boat is to a absolutely worth it...
637,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Trentyz,2022-03-06T04:04:28.166902Z,Only coal steamboat in the Southern Hemisphere...

In [35]:
import re

# Extract everything after 'in' (case-insensitive) as the city
revs['city'] = revs['query'].apply(
    lambda x: re.split(r'\bin\b', str(x), flags=re.IGNORECASE)[-1].strip()
)
revs

,query,place_id,place_name,place_address,rating,author,publishTime,reviews,city
0,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Natasha Williams,2025-08-06T19:58:26.853273660Z,"Great vibe, live music, and amazing deals!\nHa...",London
1,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Shahnawaz Faiyaz,2025-07-23T20:19:31.875988720Z,Old street record offers a fantastic dining ex...,London
2,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,N Mendes,2025-06-30T20:36:32.568566035Z,I had a great time here the ambiance is super...,London
3,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,ABDELLATIF EL GHAZOUANI,2025-07-23T20:03:13.379092229Z,I recently visited OLD STREET RECORD and had ...,London
4,Live music in London,ChIJRxL62ywddkgRVOCT1wvnzIo,Old Street Records,"350, 356 Old St, London EC1V 9NQ, UK",5,Marina Garrido,2025-07-05T08:20:39.322927154Z,Went here last night with my friends and it wa...,London
...,...,...,...,...,...,...,...,...,...
633,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,C Pal,2023-08-05T04:13:45.175618Z,"It was like traveling back in time, I'm glad m...",Queenstown
634,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Ozzie Oz,2024-09-25T03:22:15.858827Z,We took the 1.30pm boat cruise across to the f...,Queenstown
635,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Culinary Palate,2024-01-14T16:57:50.686778Z,Traveling on a steamboat is something not many...,Queenstown
636,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Brad Tynan,2024-05-18T07:20:52.220468Z,Loved it. The boat is to a absolutely worth it...,Queenstown
637,Lake cruises in Queenstown,ChIJQaRNqoEd1akRfAHRghuf0iE,TSS Earnslaw Pop Pop Boats - c/o Real Journeys,"88 Beach Street, City, Queenstown 9300, New Ze...",5,Trentyz,2022-03-06T04:04:28.166902Z,Only coal steamboat in the Southern Hemisphere...,Queenstown

In [31]:
revs.columns

Index(['query', 'place_id', 'place_name', 'place_address', 'rating', 'author',
       'publishTime', 'reviews'],
      dtype='object')

In [39]:
revs = revs.reset_index(drop=True)
reviews = revs['reviews']

# Encode reviews
review_embeddings = model.encode(reviews)

# Encode queries
query_strings = [" ".join(k) for k in keywords]
query_embeddings = model.encode(query_strings)

results = []

for i, query_emb in enumerate(query_embeddings):
    similarities = util.cos_sim(query_emb, review_embeddings)[0]
    sorted_idx = similarities.argsort(descending=True).cpu().numpy().tolist()

    seen_cities = set()
    top_results = []

    for idx in sorted_idx:
        row = revs.iloc[idx]
        city = row['city']
        if city not in seen_cities:   # enforce unique city
            seen_cities.add(city)
            top_results.append((row, similarities[idx]))
        if len(top_results) == 5:
            break

    for row, score in top_results:
        results.append({
            'query_string': query_strings[i],
            'city': row['city'],
            'place_name': row['place_name'],
            'review': row['reviews'],
            'score': score.item()  # convert tensor to float
        })

# Create dataframe
top_reviews_df = pd.DataFrame(results)

In [44]:
top_reviews_df.head(20)

,query_string,city,place_name,review,score
0,fun cosmopolitan nightlife busy,London,The Old Blue Last,Super busy on a Saturday night so we popped in...,0.493847
1,fun cosmopolitan nightlife busy,Petra,RumSky Stargazing Adventure,A fantastic blend of education and entertainme...,0.449047
2,fun cosmopolitan nightlife busy,Queenstown,Million Dollar Queenstown Cruise,30 July 4PM cruise :D\n\nIf you're taking a ni...,0.447583
3,fun cosmopolitan nightlife busy,Rio de Janeiro,Mercado Popular Uruguaiana,Very interesting and happening on Friday eveni...,0.402963
4,fun cosmopolitan nightlife busy,Kyoto,Fushimi Inari Taisha,Go on your own at around 6:00/6:30am on weekda...,0.401991
5,relaxing beach scenic romantic,Rio de Janeiro,Copacabana Beach,"Loved this beach, it is great for long walks, ...",0.647713
6,relaxing beach scenic romantic,Bali,Kuta Beach,Great spot to catch the sunset and soak in the...,0.613481
7,relaxing beach scenic romantic,Interlaken,Neuhaus Swimming Steps,Nice and clean beach with beautiful view and s...,0.609053
8,relaxing beach scenic romantic,Dubai,Jumeirah Public Beach 02 - Walking Board,Jumeirah Night Beach is such a vibe! The beach...,0.593950
9,relaxing beach scenic romantic,Kyoto,Kyoto Garden,A beautiful and surreal experience. Just sitti...,0.553802
10,peaceful mountains quiet breathtaking,Interlaken,Jungfrau Ski Region - Mürren - Schilthorn,Words cannot describe the magnificent snow cap...,0.559431
11,peaceful mountains quiet breathtaking,Banff,Banff National Park,The most beautiful place myself and family hav...,0.524509
12,peaceful mountains quiet breathtaking,Kyoto,Fushimi Inari Taisha,A beautiful and peaceful place that truly live...,0.481942
13,peaceful mountains quiet breathtaking,Bali,Mount Abang,Nice and easy hike. Great views from the seash...,0.478173
14,peaceful mountains quiet breathtaking,Queenstown,Cardrona Alpine Resort,Great mountain for skiing with plenty of diffe...,0.437112
15,educational ancient ruins unforgettable,Petra,Great Temple,Such a wonderful experience. From the entry do...,0.497202
16,educational ancient ruins unforgettable,Rio de Janeiro,Escadaria Selarón,I took an Uber to this place and it was very e...,0.423213
17,educational ancient ruins unforgettable,London,Tower of London,The place spoke a lot and we had a walk for ne...,0.409363
18,educational ancient ruins unforgettable,Kyoto,Kyoto Museum of Crafts and Design,Exceeded expectations with some really cool in...,0.400938
19,educational ancient ruins unforgettable,Dubai,MEAN* Middle East Architecture Network,I am continuously impressed by the work carrie...,0.335739

In [ ]:
import pandas as pd
import re
from collections import defaultdict

revs = revs.reset_index(drop=True)
reviews = revs['reviews']

# Encode reviews
review_embeddings = model.encode(reviews)

# Encode queries
query_strings = [" ".join(k) for k in keywords]
query_embeddings = model.encode(query_strings)

# Collect results
results = []

for i, query_emb in enumerate(query_embeddings):
    similarities = util.cos_sim(query_emb, review_embeddings)[0]

    # Aggregate similarities by city
    city_sims = defaultdict(list)
    for idx, sim in enumerate(similarities):
        city = revs.iloc[idx]['city']
        city_sims[city].append((sim.item(), idx))

    # Compute average similarity per city
    city_avg_scores = []
    for city, sims in city_sims.items():
        avg_score = sum([s[0] for s in sims]) / len(sims)
        city_avg_scores.append((city, avg_score, sims))

    # Sort cities by average similarity
    city_avg_scores_sorted = sorted(city_avg_scores, key=lambda x: x[1], reverse=True)[:5]

    # For each top city, pick top review
    for city, avg_score, sims in city_avg_scores_sorted:
        sims_sorted = sorted(sims, key=lambda x: x[0], reverse=True)[:1]  # top review
        for score, idx in sims_sorted:
            row = revs.iloc[idx]
            results.append({
                'query_string': query_strings[i],
                'city': city,
                'place_name': row['place_name'],
                'review': row['reviews'],
                'review_score': score,
                'city_score': avg_score
            })

# Create dataframe
top_cities_df = pd.DataFrame(results)

In [54]:
top_cities_df.head(20)

,query_string,city,place_name,review,review_score,city_score
0,fun cosmopolitan nightlife busy,London,The Old Blue Last,Super busy on a Saturday night so we popped in...,0.493847,0.242993
1,fun cosmopolitan nightlife busy,Rio de Janeiro,Mercado Popular Uruguaiana,Very interesting and happening on Friday eveni...,0.402963,0.223887
2,fun cosmopolitan nightlife busy,Queenstown,Million Dollar Queenstown Cruise,30 July 4PM cruise :D\n\nIf you're taking a ni...,0.447583,0.192559
3,fun cosmopolitan nightlife busy,Petra,RumSky Stargazing Adventure,A fantastic blend of education and entertainme...,0.449047,0.185379
4,fun cosmopolitan nightlife busy,Kyoto,Fushimi Inari Taisha,Go on your own at around 6:00/6:30am on weekda...,0.401991,0.178674
5,relaxing beach scenic romantic,Bali,Kuta Beach,Great spot to catch the sunset and soak in the...,0.613481,0.347275
6,relaxing beach scenic romantic,Rio de Janeiro,Copacabana Beach,"Loved this beach, it is great for long walks, ...",0.647713,0.313795
7,relaxing beach scenic romantic,Interlaken,Neuhaus Swimming Steps,Nice and clean beach with beautiful view and s...,0.609053,0.311824
8,relaxing beach scenic romantic,Dubai,Jumeirah Public Beach 02 - Walking Board,Jumeirah Night Beach is such a vibe! The beach...,0.593950,0.294418
9,relaxing beach scenic romantic,Banff,Banff Upper Hot Springs,Fun place to visit for a few minutes but detra...,0.429662,0.293648
10,peaceful mountains quiet breathtaking,Banff,Banff National Park,The most beautiful place myself and family hav...,0.524509,0.322158
11,peaceful mountains quiet breathtaking,Interlaken,Jungfrau Ski Region - Mürren - Schilthorn,Words cannot describe the magnificent snow cap...,0.559431,0.292850
12,peaceful mountains quiet breathtaking,Bali,Mount Abang,Nice and easy hike. Great views from the seash...,0.478173,0.272539
13,peaceful mountains quiet breathtaking,Petra,RumSky Stargazing Adventure,"For our group (5 of us, total of 30) this was ...",0.367093,0.268204
14,peaceful mountains quiet breathtaking,Rio de Janeiro,Reserve Beach,"Very quiet beach, perfect to read a book and e...",0.425377,0.233228
15,educational ancient ruins unforgettable,Petra,Great Temple,Such a wonderful experience. From the entry do...,0.497202,0.267027
16,educational ancient ruins unforgettable,Kyoto,Kyoto Museum of Crafts and Design,Exceeded expectations with some really cool in...,0.400938,0.200883
17,educational ancient ruins unforgettable,London,Tower of London,The place spoke a lot and we had a walk for ne...,0.409363,0.190122
18,educational ancient ruins unforgettable,Interlaken,Badeplatz Niederried,Heaven on earth 😍 Perfect family swim spot wit...,0.282538,0.148083
19,educational ancient ruins unforgettable,Rio de Janeiro,Escadaria Selarón,I took an Uber to this place and it was very e...,0.423213,0.136036

In [ ]:
top_reviews_df.head(20)

,query_string,city,place_name,review,score
0,fun cosmopolitan nightlife busy,London,The Old Blue Last,Super busy on a Saturday night so we popped in...,0.493847
1,fun cosmopolitan nightlife busy,Petra,RumSky Stargazing Adventure,A fantastic blend of education and entertainme...,0.449047
2,fun cosmopolitan nightlife busy,Queenstown,Million Dollar Queenstown Cruise,30 July 4PM cruise :D\n\nIf you're taking a ni...,0.447583
3,fun cosmopolitan nightlife busy,Rio de Janeiro,Mercado Popular Uruguaiana,Very interesting and happening on Friday eveni...,0.402963
4,fun cosmopolitan nightlife busy,Kyoto,Fushimi Inari Taisha,Go on your own at around 6:00/6:30am on weekda...,0.401991
5,relaxing beach scenic romantic,Rio de Janeiro,Copacabana Beach,"Loved this beach, it is great for long walks, ...",0.647713
6,relaxing beach scenic romantic,Bali,Kuta Beach,Great spot to catch the sunset and soak in the...,0.613481
7,relaxing beach scenic romantic,Interlaken,Neuhaus Swimming Steps,Nice and clean beach with beautiful view and s...,0.609053
8,relaxing beach scenic romantic,Dubai,Jumeirah Public Beach 02 - Walking Board,Jumeirah Night Beach is such a vibe! The beach...,0.593950
9,relaxing beach scenic romantic,Kyoto,Kyoto Garden,A beautiful and surreal experience. Just sitti...,0.553802
10,peaceful mountains quiet breathtaking,Interlaken,Jungfrau Ski Region - Mürren - Schilthorn,Words cannot describe the magnificent snow cap...,0.559431
11,peaceful mountains quiet breathtaking,Banff,Banff National Park,The most beautiful place myself and family hav...,0.524509
12,peaceful mountains quiet breathtaking,Kyoto,Fushimi Inari Taisha,A beautiful and peaceful place that truly live...,0.481942
13,peaceful mountains quiet breathtaking,Bali,Mount Abang,Nice and easy hike. Great views from the seash...,0.478173
14,peaceful mountains quiet breathtaking,Queenstown,Cardrona Alpine Resort,Great mountain for skiing with plenty of diffe...,0.437112
15,educational ancient ruins unforgettable,Petra,Great Temple,Such a wonderful experience. From the entry do...,0.497202
16,educational ancient ruins unforgettable,Rio de Janeiro,Escadaria Selarón,I took an Uber to this place and it was very e...,0.423213
17,educational ancient ruins unforgettable,London,Tower of London,The place spoke a lot and we had a walk for ne...,0.409363
18,educational ancient ruins unforgettable,Kyoto,Kyoto Museum of Crafts and Design,Exceeded expectations with some really cool in...,0.400938
19,educational ancient ruins unforgettable,Dubai,MEAN* Middle East Architecture Network,I am continuously impressed by the work carrie...,0.335739